@model backend.Models.ProductType

@{
 Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ta bort</title>
</head>
<body>

<h3>Är du säker på att du vill ta bort objektet?</h3>
<div>
    <h4>Produkttyp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            <b>@Html.DisplayFor(model => model.Product.ProductNumber)</b> - 
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductColor.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSize.Size)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till lista</a>
    </form>
</div>
</body>
</html>
