@model IEnumerable<backend.Models.ProductType>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductSize)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Product.ProductNumber)</b> -
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>

                        @foreach (var Color in ViewBag.Colors)
                        {

                            @if (item.ProductColorId == Color.Id)
                            {
                                <div style="background-color: @Color.ColorCode; display:inline-block; height:15px; width:15px;">
                                </div>
                                @Color.Color

                            }
                        }
                    </td>
                    <td>
                        @foreach (var Size in ViewBag.Sizes)
                        {

                            @if (item.ProductSizeId == Size.Id)
                            {

                                @Size.Size

                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |

                        @foreach (var Size in ViewBag.Sizes)
                        {
                            @foreach (var Color in ViewBag.Colors)
                            {
                                @if (item.ProductSizeId == Size.Id)
                                {
                                    @if (item.ProductColorId == Color.Id)
                                    {

                                        <a asp-controller="OrderProducts" asp-route-id="@item.Id" asp-route-color="@Color.Color"
                                            asp-route-size="@Size.Size" asp-route-productId="@item.Product.Id"
                                        asp-route-productName="@item.Product.Name" asp-route-productNumber="@item.Product.ProductNumber"
                                        asp-action="Create">Add to order</a>
                                    }
                                }
                            }



                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
