@model IEnumerable<backend.Models.ProductType>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produkttyper</title>
</head>

<body>
    <p>
        <a asp-action="Create">Skapa Ny</a>
    </p>
    <p><b>Antal objekt: </b>@ViewBag.count</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })
                </th>
                <th>
                    @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorSortParm })
                </th>
                <th>
                    @Html.ActionLink("Size", "Index", new { sortOrder = ViewBag.SizeSortParm })
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Product.ProductNumber)</b> -
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>

                        @foreach (var Color in ViewBag.Colors)
                        {

                            @if (item.ProductColorId == Color.Id)
                            {
                                <div style="background-color: @Color.ColorCode; display:inline-block; height:15px; width:15px;">
                                </div>
                                @Color.Color

                            }
                        }
                    </td>
                    <td>
                        @foreach (var Size in ViewBag.Sizes)
                        {

                            @if (item.ProductSizeId == Size.Id)
                            {

                                @Size.Size

                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a> |

                        @foreach (var Size in ViewBag.Sizes)
                        {
                            @foreach (var Color in ViewBag.Colors)
                            {
                                @if (item.ProductSizeId == Size.Id)
                                {
                                    @if (item.ProductColorId == Color.Id)
                                    {

                                        <a asp-controller="OrderProducts" asp-route-id="@item.Id" asp-route-color="@Color.Color"
                                            asp-route-size="@Size.Size" asp-route-productId="@item.Product.Id"
                                        asp-route-productName="@item.Product.Name" asp-route-productNumber="@item.Product.ProductNumber"
                                        asp-action="Create">Lägg till på order</a>
                                    }
                                }
                            }



                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
