@model IEnumerable<backend.Models.ProductImages>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produktbilder</title>
</head>

<body>
    <p>
        <a asp-action="Create">Skapa Ny</a>
    </p>
    <p><b>Antal objekt: </b>@ViewBag.count</p>
    <table class="table">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageAlt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div style="height: 40px; width:60px;">
                            <img src=@item.ImagePath alt=@item.ImageAlt style="height: 100%; width:100%; object-fit:cover;">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageAlt)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Product.ProductNumber)</b> -
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
