@model IEnumerable<backend.Models.Order>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <p><b>Antal objekt: </b>@ViewBag.count</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
                </th>
                <th>
                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.STATUSSortParm })
                </th>
                <th>
                    @Html.ActionLink("Ordernumber", "Index", new { sortOrder = ViewBag.ONSortParm })
                </th>
                <th>
                    @Html.ActionLink("Receiptnumber", "Index", new { sortOrder = ViewBag.RNSortParm })
                </th>
                <th>
                    @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.MAILSortParm })
                </th>

                <th>
                    @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PRICESortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VatTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountCode)
                </th>

                <th>
                    @Html.ActionLink("Payment", "Index", new { sortOrder = ViewBag.PAYMENTSortParm })
                </th>
                <th>
                    @Html.ActionLink("Timestamp", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiptNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerMail)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PriceTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VatTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountCode)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><br>
                        <a asp-controller="OrderProducts" asp-route-id="@item.Id" asp-action="Index">Order Products</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
