@model IEnumerable<backend.Models.Product>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Add New Product</a><br />
        <a asp-controller="ProductImages" asp-action="Index">Add Product Images</a>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <p><b>Antal objekt: </b>@ViewBag.count</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Images
                </th>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                    @* @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm }) *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.ActionLink("Produkt Nummer", "Index", new { sortOrder = ViewBag.PNRSortParm })
                </th>
                <th>
                    Categories
                </th>
                <th>
                    @Html.ActionLink("Skapad", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>


                        <div style="display: flex; flex-wrap:wrap; width:90px;">
                            @foreach (var img in ViewBag.Images)
                            {
                                @if (item.Id == img.ProductId)
                                {
                                    <img style="height: 25px; width:25px; margin:2px; object-fit:cover; " src=@img.ImagePath
                            alt=@img.ImageAlt />
                                }

                            }

                        </div>
                        @foreach (var img in ViewBag.Images)
                        {
                            @if (item.Id == img.ProductId)
                            {
                                <a asp-controller="ProductImages" asp-route-id="@item.Id" asp-route-name="@item.Name"
                        asp-action="Index">Show All</a>
                                break;
                            }

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vat)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @foreach (var cat in ViewBag.Categories)
                        {
                            @if (item.CatalogSubCategoriesId == cat.Id)
                            {
                                @cat.Category
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><br>
                        <a asp-controller="ProductType" asp-route-id="@item.Id" asp-route-name="@item.Name"
                        asp-action="Index">Show Types</a><br>
                        <a asp-controller="ProductProperties" asp-route-id="@item.Id" asp-route-name="@item.Name"
                        asp-action="Index">Show Properties</a><br>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
