@model IEnumerable<backend.Models.Order>
@{
    ViewData["Title"] = "Report page";
}
<h1>@ViewData["Title"]</h1>

<h2>Since start:</h2>
<h3>Sells: @ViewBag.totalAllTime</h3>
<h3>Vat: @ViewBag.totalVatAllTime</h3>
<h3>Discount: @ViewBag.totalDiscountAllTime</h3>
<h4>Discount ratio: @(Math.Round(ViewBag.totalDiscountAllTime / ViewBag.totalAllTime, 2) * 100)%</h4>


