@model IEnumerable<backend.Models.DiscountCodes>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rabattkoder</title>
</head>

<body>
    <p>
        <a asp-action="Create">Skapa ny</a>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Sök på rabattkod: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <p><b>Antal objekt: </b>@ViewBag.count</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Code), "Index", new { sortOrder = ViewBag.CodeSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.CampaignStart), "Index", new { sortOrder = ViewBag.StartSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.CampaignEnd), "Index", new { sortOrder = ViewBag.EndSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Timestamp), "Index", new { sortOrder = ViewBag.TimestampSortParm })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampaignStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampaignEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
