@model IEnumerable<backend.Models.DiscountCodes>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Code", "Index", new { sortOrder = ViewBag.CodeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.ActionLink("Start", "Index", new { sortOrder = ViewBag.StartSortParm })
            </th>
            <th>
                @Html.ActionLink("End", "Index", new { sortOrder = ViewBag.EndSortParm })
            </th>
            <th>
                @Html.ActionLink("Timestamp", "Index", new { sortOrder = ViewBag.TimestampSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
